@using LazyVocabulary.Web.Models;
@using LazyVocabulary.Resources.Views;

@model LoginViewModel

@{
    ViewBag.Title = AccountLoginResource.FormName;
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="left-menu-container">
    <div class="left-menu-item-container">
        <a href="/Home/Index">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div class="left-menu-item-container">
        <a href="/Account/Register">
            <i class="fa fa-user-plus"></i>
        </a>
    </div>
    <div class="left-menu-item-container">
        <a href="/Account/Login">
            <i class="fa fa-sign-in"></i>
        </a>
    </div>
</div>

<div id="cover">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>@AccountLoginResource.FormName</h3>
                        <p>@AccountLoginResource.FormInstructions</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = AccountLoginResource.UserNameOrEmailPlaceholder })
                            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = AccountLoginResource.PasswordPlaceholder })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn" data-ripple><i class="fa fa-sign-in"></i> @AccountLoginResource.SignIn</button>
                        </div>
                        @Html.ActionLink(@AccountLoginResource.RestorePassword, "Login")
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 social-login-container">
                <p>@AccountLoginResource.SignInWith</p>
                <div class="social-login-buttons">
                    <a class="btn btn-transparent social-login-button" href="#">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a class="btn btn-transparent social-login-button disabled" href="#">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                    <a class="btn btn-transparent social-login-button disabled" href="#">
                        <i class="fa fa-google-plus"></i> Google Plus
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/app-js/localization.js")
}