@using LazyVocabulary.WEB.Models;
@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="left-menu-container">
    <div class="left-menu-item-container">
        <a href="/Home/Index">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div class="left-menu-item-container">
        <a href="/Account/Register">
            <i class="fa fa-user-plus"></i>
        </a>
    </div>
    <div class="left-menu-item-container">
        <a href="/Account/Login">
            <i class="fa fa-sign-in"></i>
        </a>
    </div>
</div>

<div id="cover">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Вход на сайт</h3>
                        <p>Для входа введите имя пользователя или адрес электронной почты и пароль, использованные при регистрации:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "* Имя пользователя или Email..." })
                            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                        </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "* Пароль..." })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn"><i class="fa fa-sign-in"></i> Войти</button>
                            </div>
                            @Html.ActionLink("Восстановить пароль", "Login")
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 social-login-container">
                <p>...или войдите с помощью:</p>
                <div class="social-login-buttons">
                    <a class="btn btn-transparent social-login-button" href="#">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a class="btn btn-transparent social-login-button disabled" href="#">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                    <a class="btn btn-transparent social-login-button disabled" href="#">
                        <i class="fa fa-google-plus"></i> Google Plus
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>