@using LazyVocabulary.Web.Models;
@model IEnumerable<IndexDictionaryViewModel>

@if (Model.Count() > 0)
{
    <table class="table borderless" id="table-my-dictionaries">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="td-checkbox">
                        <input type="checkbox" name="dictionaries" value="@item.Id">
                    </td>
                    <td>
                        <a href="/Translation/Index/@item.Id">@item.Name</a>
                        <br />
                        <span class="text-muted">Количество записей:</span> @item.PhrasesCount
                        <br />
                        @item.Description
                    </td>
                    <td class="details hidden-sm hidden-xs">
                        <span class="text-muted">Создан:</span> @item.CreatedAt
                        <br />
                        <span class="text-muted">Обновлён:</span> @item.UpdatedAt
                    </td>
                    <td class="flag">
                        <img class="flag-image" title="@item.SourceLanguageName"
                             src="@Url.Content("~/Content/Images/flags/" + item.SourceLanguageImagePath)" />
                    </td>
                    <td class="flag">
                        <img class="flag-image" title="@item.TargetLanguageName"
                             src="@Url.Content("~/Content/Images/flags/" + item.TargetLanguageImagePath)" />
                    </td>
                    <td class="toggle-menu-icon">
                        <div class="dropdown">
                            <button class="btn btn-custom btn-gray dropdown-toggle" type="button" data-toggle="dropdown">
                                Действие
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="/Translation/Index/@item.Id">Список переводов</a>
                                </li>
                                <li>
                                    <a href="/Translation/Create/@item.Id">Добавить перевод</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/Dictionary/Edit/@item.Id">Редактировать словарь</a>
                                </li>
                                <li>
                                    <a href="javascript;" class="delete-dictionary" id="delete-@item.Id">Удалить словарь</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Экспортировать словарь в pdf</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p id="there-is-no-dictionaries" class="text-muted" style="display:none;"><i>Вы не создали ни одного словаря.</i></p>
}
else
{
    <p id="there-is-no-dictionaries" class="text-muted"><i>Вы не создали ни одного словаря.</i></p>
}
