@using LazyVocabulary.Web.Models;
@using System.Linq;

@model IEnumerable<IndexTranslationViewModel>

@{
    ViewBag.Title = "Мои переводы";
}

@Styles.Render("~/Content/menu.css")

<div class="breadcrump-container">
    <a href="/Home/Index">Главная</a>
    <span class="separator"></span>
    <a href="/Dictionary/Index">Мои словари</a>
    <span class="separator"></span>
    Мои переводы
</div>

<div class="top-buttons-container">
    <div class="row">
        <a href="/Translation/Create/@ViewBag.DictionaryId" class="btn btn-info pull-right">
            <i class="fa fa-plus"></i> Добавить перевод
        </a>
        <button id="btn-delete-selected" type="button" class="btn btn-info pull-right" disabled>
            <i class="fa fa-remove"></i> Удалить выбранные
        </button>
        <button id="btn-copy-selected" type="button" class="btn btn-info pull-right">
            <i class="fa fa-arrow-right"></i> Переместить выбранные
        </button>
        <button id="btn-select-all" type="button" class="btn btn-default pull-right">
            <i class="fa fa-check-square-o"></i> Выделить все
        </button>
        <button id="btn-deselect-all" type="button" class="btn btn-default pull-right">
            <i class="fa fa-square-o"></i> Снять выделение
        </button>
    </div>
</div>

<div class="container">
    @if (Model.Count() > 0)
    {
        <table class="table borderless top" id="table-translations">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="td-checkbox">
                            <input type="checkbox" name="translations" value="@item.Id">
                        </td>
                        <td>
                            @item.Value
                        </td>
                        <td>
                            @if (item.Translations.Count > 0)
                            {
                                foreach (var translation in item.Translations)
                                {
                                    @translation.Value
                                    <br />
                                }
                            }
                            else
                            {
                                <p class="text-muted"><i>Вы не добавили ни одного перевода.</i></p>
                            }
                        </td>
                        <td class="toggle-menu-icon">
                            <a href='javascript:;' class='toggle' id="toggle-@item.Id">
                                <i class='fa fa-ellipsis-v'></i>
                            </a>
                            <ul class="menu" data-menu data-menu-toggle="#toggle-@item.Id">
                                <li>
                                    <a href="/Translation/Edit/@item.Id">Редактировать перевод</a>
                                </li>
                                <li>
                                    <a href="#" class="delete-translation" id="delete-@item.Id">Удалить перевод</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-muted top"><i>Вы не добавили ни одного перевода.</i></p>
    }

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Подтвердите удаление</h4>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить выбранный перевод? Восстановить данные будет <b>невозможно.</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-remove"></i> Закрыть
                    </button>
                    <button type="button" class="btn btn-info" id="btn-submit-delete">
                        <i class="glyphicon glyphicon-ok"></i> Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-copy" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Подтвердите копирование</h4>
                </div>
                <div class="modal-body">
                    @if (ViewBag.DictionariesCount > 0)
                    {
                        <p>Выберите целевой словарь для копирования выбранных переводов.</p>

                        <div class="form-group">
                            <label class="required" for="Dictionaries">Выберите словарь</label>
                            <div>
                                @Html.DropDownList("Dictionaries", null, htmlAttributes: new { @class = "selectpicker" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-muted"><i>Нет словарей для копирования выбранных переводов.</i></p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-remove"></i> Закрыть
                    </button>

                    @if (ViewBag.DictionariesCount > 0)
                    {
                        <button type="button" class="btn btn-info" id="btn-submit-copy">
                            <i class="glyphicon glyphicon-ok"></i> Скопировать
                        </button>
                    }                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/menu.min.js")

    <script>
        $('[data-menu]').menu();

        $('a.delete-translation').click(function (event) {
            event.preventDefault();
            $('#modal-delete').modal('show');

            $('#btn-submit-delete').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Translation/Delete/' + event.target.id.match('[^delete-]*$'),
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    // To avoid DbUpdateConcurrencyException in TranslationService.
                    async: false,
                    success: function (result) {
                        if (result.success == true) {
                            var tr = $(event.target).closest('tr');
                            tr.remove();
                            editDeleteButtonState();
                        }
                        else {
                            console.error('Cant delete selected translation.');
                        }

                        var table = $('table#table-translations');
                        if (!$('tr', table).length) {
                            table.remove();
                            $('.container').append('<p class="text-muted top"><i>Вы не добавили ни одного перевода.</i></p>');
                        }
                    },
                    error: function (response) {
                        console.error('Cant delete selected translation.');
                    },
                    complete: function () {
                        $('#modal-delete').modal('hide');
                    }
                });
            });
        });

        $('#btn-delete-selected').click(function () {
            $('#modal-delete').modal('show');

            $('#btn-submit-delete').click(function () {
                var ids = $('input[name="translations"]:checked');
                if (ids.length) {
                    $.each(ids, function (i, value) {
                        $.ajax({
                            type: 'POST',
                            url: '/Translation/Delete/' + $(value).val(),
                            contentType: 'application/json;charset=utf-8',
                            dataType: 'json',
                            // To avoid DbUpdateConcurrencyException in TranslationService.
                            async: false,
                            success: function (result) {
                                if (result.success == true) {
                                    var tr = value.closest('tr');
                                    tr.remove();
                                    editDeleteButtonState();
                                }
                                else {
                                    console.error('Cant delete selected translation.');
                                }

                                var table = $('table#table-translations');
                                if (!$('tr', table).length) {
                                    table.remove();
                                    $('.container').append('<p class="text-muted top"><i>Вы не добавили ни одного перевода.</i></p>');
                                }
                            },
                            error: function (response) {
                                console.error('Cant delete selected translation.');
                            },
                            complete: function () {
                                $('#modal-delete').modal('hide');
                            }
                        });
                    });
                }
            });
        });

        $('#btn-copy-selected').click(function () {
            $('#modal-copy').modal('show');           
        });

        $('#btn-submit-copy').click(function () {
            var ids = $('input[name="translations"]:checked');
            if (ids.length) {
                $.each(ids, function (i, value) {
                    $.ajax({
                        type: 'POST',
                        url: '/Translation/Copy?translationId=' + $(value).val() + '&dictionaryId=' + $('#Dictionaries').val(),
                        contentType: 'application/json;charset=utf-8',
                        dataType: 'json',
                        // To avoid DbUpdateConcurrencyException in TranslationService.
                        success: function (result) {
                            if (result.success == true) {
                            }
                            else {
                                console.error('Cant copy selected translation.');
                            }
                        },
                        error: function (response) {
                            console.error('Cant copy selected translation.');
                        },
                        complete: function () {
                            $('#modal-copy').modal('hide');
                        }
                    });
                });
            }
        });

        $('#btn-select-all').click(function () {
            $('input[name="translations"]').prop('checked', true);
            $(event.target).blur();
            editDeleteButtonState();
        });

        $('#btn-deselect-all').click(function () {
            $('input[name="translations"]').prop('checked', false);
            $(event.target).blur();
            editDeleteButtonState();
        });

        $('input[name="translations"]').change(function () {
            editDeleteButtonState();
        });

        function editDeleteButtonState() {
            if (!$('input[name="translations"]:checked').length) {
                $('#btn-delete-selected').attr('disabled', true);
            }
            else {
                $('#btn-delete-selected').attr('disabled', false);
            }
        }
    </script>
}
