@using LazyVocabulary.Web.Models;
@model EditProfileViewModel

<div id="form" class="form-horizontal">
    @{
        if (ViewBag.Result == "Success")
        {
            <div id="result" class="alert alert-success alert-dismissible fade in top" role="alert" style="display:none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span>Профиль успешно обновлён.</span>
            </div>
        }
        if (ViewBag.Result == "Error")
        {
            <div id="result" class="alert alert-danger alert-dismissible fade in top" role="alert" style="display:none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span>Произошла ошибка, профиль не был обновлён.</span>
            </div>
        }
    }

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h3>Настройки профиля</h3>

    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="form-group">
        <label for="Name">Введите Ваше имя</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Surname">Введите Вашу фамилию</label>
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="DateOfBirth">Введите Вашу дату рождения</label>
        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="required" for="LocaleLanguage">Выберите язык отображения интерфейса</label>
        @Html.EnumDropDownListFor(m => m.LocaleLanguage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LocaleLanguage, "", new { @class = "text-danger" })
    </div>
</div>