@using LazyVocabulary.Web.Models;
@model IndexProfileViewModel

@{
    ViewBag.Title = "Мой профиль";
}

<div class="breadcrump-container">
    <a href="/Home/Index">Главная</a>
    <span class="separator"></span>
    Мои профиль
</div>

<div class="top-buttons-container">
    <div class="row">
        <a href="/Profile/ChangeAvatar" class="btn-custom btn-blue pull-right">
            <i class="fa fa-photo"></i> Изменить аватар
        </a>
        <a href="/Profile/Edit" class="btn-custom btn-blue pull-right">
            <i class="fa fa-gear"></i> Изменить настройки
        </a>
        <a href="/Profile/ChangePassword" class="btn-custom btn-blue pull-right">
            <i class="fa fa-key"></i> Изменить пароль
        </a>
    </div>
</div>

<div class="container">
    @Html.HiddenFor(m => m.Id)

    <div class="top">
        <div class="card hovercard">
            <div class="card-background">
                @if (@Model.AvatarImagePath == null)
                {
                    <img src="~/Content/Images/cover-1.jpg">
                }
                else
                {
                    <img src="@Model.AvatarImagePath">
                }               
            </div>
            <div class="avatar-wrapper">
                <div class="circular-landscape">
                    @if (@Model.AvatarImagePath == null)
                    {
                        <img class="avatar-image-big" src="~/Content/Images/avatars/default.png">
                    }
                    else
                    {
                        <img class="avatar-image-big" src="@Model.AvatarImagePath">
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="col-md-6">
            <h3>@Model.UserName</h3>

            <div class="form-group">
                <label>Связанный email</label>
                <div>
                    <span>@Model.Email</span>
                </div>
            </div>

            <div class="form-group">
                <label>Полное имя</label>
                <div>
                    @{
                        var fullName = String.Empty;

                        if (!String.IsNullOrEmpty(Model.Name))
                        {
                            fullName += Model.Name + " ";
                        }

                        if (!String.IsNullOrEmpty(Model.Surname))
                        {
                            fullName += Model.Surname;
                        }
                    }

                    @if (String.IsNullOrEmpty(fullName))
                    {
                        <span class="text-muted"><i>Информация не указана.</i></span>
                    }
                    else
                    {
                        <span>@fullName</span>
                    }
                </div>
            </div>

            <div class="form-group">
                <label>Дата рождения</label>
                <div>
                    @if (String.IsNullOrEmpty(Model.DateOfBirth))
                    {
                        <span class="text-muted"><i>Информация не указана.</i></span>
                    }
                    else
                    {
                        <span>@Model.DateOfBirth</span>
                    }
                </div>
            </div>

            <div class="form-group">
                <label>Дата создания профиля</label>
                <div>
                    @if (String.IsNullOrEmpty(Model.CreatedAt))
                    {
                        <span class="text-muted"><i>Информация не указана.</i></span>
                    }
                    else
                    {
                        <span>@Model.CreatedAt</span>
                    }
                </div>
            </div>

            <div class="form-group">
                <label>Дата обновления профиля</label>
                <div>
                    @if (String.IsNullOrEmpty(Model.UpdatedAt))
                    {
                        <span class="text-muted"><i>Информация не указана.</i></span>
                    }
                    else
                    {
                        <span>@Model.UpdatedAt</span>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Статистика</h3>

            <div class="form-group">
                <label>Количество словарей</label>
                <div>
                    <span>@Model.DictionariesCount</span>
                </div>
            </div>

            <div class="form-group">
                <label>Количество подписчиков</label>
                <div>
                    <span>@Model.SubscribersCount</span>
                </div>
            </div>

            <div class="form-group">
                <label>Количество подписок</label>
                <div>
                    <span>@Model.SubscriptionsCount</span>
                </div>
            </div>
        </div>
    </div>
</div>
